{% extends 'base.html' %}

{% load flatpages_extras seo_extras services_extras order_extras catalog_extras %}

    {% block page-seo %}
        {% load seo_extras %}
        {% get_seo item %}
    {% endblock %}

    {% block header %}
        {% include "templatetags/header.html" with url="/profile/" %}
    {% endblock %}

    {% block breadcrumbs %}
        {% include "templatetags/breadcrumbs.html" %}
    {% endblock %}

    {% block main-content %}

        <div class="main-content" xmlns="http://www.w3.org/1999/html">
            <div class="cb" style="height: 10px;"></div>
            <div class="main-content-l lk">
                <div class="tree-menu side-menu">
                        <a class="menu-item lvl0 select" href="#">
                            Востановление пароля
                        </a>
                </div>
            </div>

            {% csrf_token %}
            <div class="main-content-r tmce lk lk-top">
                <div class="fake-h1">Изменение пароля</div>
                <form action="" method="post">
                    {% csrf_token %}
                <table class="personal-info">
                    <tr>
                        <td class="field-caption">
                            Новый пароль
                        </td>
                        <td class="field {% if norepeat %}error{% endif %}">
                            <input name="newpass" placeholder="" required="" type="password">
                            <span class="pencil"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="field-caption">
                            Подтвердите пароль
                        </td>
                        <td class="field  {% if norepeat %}error{% endif %}">
                            <input name="cnewpass" placeholder="" required="" type="password">
                            <span class="pencil"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="field-caption">
                        </td>
                        <td class="field">
                            <button class="cart-button">Изменить</button>
                        </td>
                    </tr>
                </table>
                </form>
            </div>

        </div>

        <div class="cb"></div>

    {% endblock %}
