{% load widget_tweaks %}
<div class="enter">
{% if data.no_enter %}
        <a class="enter-link" href="javascript:void(0)">Войти</a>
{% else %}
        <a class="enter-link" href="javascript:void(0)" >{{ name }}</a>
        <div class="enter-form">
        <p><a href="{% url 'personal:edit_user_profile' %}" class="cart-button">Личный кабинет</a>
        </p><p>
        <a href="{% url 'personal:auth_logout' %}" class="cart-button">Выйти</a></p>
        <div class="cb"></div>
        </div>

{% endif %}
</div>

{% if data.form %}
<div class="enter-form enter-form-reg" style="display: {{ data.hide }}">
    <div class="form-title">{{ data.name }}</div>
    <form enctype="" action='{{ data.action_to }}' method="post">
        {% csrf_token %}

        {% for field in data.form %}
            <label {% if field.errors %}class="error"{% endif %}>{{ field.label }}</label>
            {% with WIDGET_ERROR_CLASS='error' %}
                {% render_field field %}
            {% endwith %}
        {% endfor %}
        <div class="cb"></div>
        <button class="cart-button">{{ data.submit_name }}</button>
        <div class="cb"></div>
        {% for e in data.extra_links %}
            <p><a href="?{{ e.q }}=True">{{ e.name }}</a></p>
        {% endfor %}
    </form>
</div>
{% endif %}