{% load flatpages_extras placeholder catalog_extras %}
<footer>
    {% get_bottom_menu_old flatpage.url %}
    <div class="footer-wrap">
        <div class="cb-40"></div>
        {#  {% catalog_bottom_menu directory.slug %}#}
        {#  {% placeholder "phone" %}  #}
        {#  {% placeholder "address" %}  #}
        {#  <a href="mailto:{% placeholder "email" %}">{% placeholder "email" %}</a>  #}

        {% get_sub_bottom_menu_old %}

        <div class="footer-developers">
            <div class="copy">
                © {% now "Y" %} «МИР ТЮНИНГА»<br>
                сеть магазинов автотоваров
            </div>
            <div class="footer-social">
                {% include "templatetags/pluso.html" %}
            </div>
            <a class="footer-dev-logo" href="http://www.simplemedia.ru">
                <img src="/media/img/dev-logo.png">
            </a>
            <a href="http://www.simplemedia.ru/sozdanie-internet-magazina/">
                Создание интернет-магазина
            </a>
        </div>

        <div class="footer-sep"></div>

        <div class="footer-text tmce">
            <h5>Информация о ценах и наличии товара обновлена {% get_last_date %} UTC+7</h5>
            <p>
                Информация, указанная на сайте, не является публичной офертой. Информация о товарах, их технических свойствах и характеристиках, ценах является предложением “Мир Тюнинга” делать оферты. Акцептом “Мир Тюнинга” полученной оферты является подтверждение заказа с указанием товара и его цены. Сообщение “Мир Тюнинга” о цене заказанного товара, отличающейся от указанной в оферте, является отказом “Мир Тюнинга” от акцепта и одновременно офертой со стороны “Мир Тюнинга”. Информация о технических характеристиках товаров, указанная на сайте, может быть изменена производителем в одностороннем порядке. Изображения товаров на фотографиях, представленных в каталоге на сайте, могут отличаться от оригиналов. Информация о цене товара, указанная в каталоге на сайте, может отличаться от фактической к моменту оформления заказа на соответствующий товар. Подтверждением цены заказанного товара является сообщение “Мир Тюнинга” о цене такого товара.
            </p>
        </div>
        <div class="cb"></div>
    </div>
</footer>