{% extends 'base.html' %}
    {% load flatpages_extras seo_extras services_extras order_extras catalog_extras announce_extras %}

    {% block page-seo %}
        <title>404</title>
    {% endblock %}

    {% block header %}
        {% include "templatetags/header.html" with url='/' %}
    {% endblock %}

    {% block breadcrumbs %}
        {% include "templatetags/breadcrumbs.html" %}
    {% endblock %}

    {% block main-content %}
        <div class="main-content">
            <div class="cb" style="height: 30px;"></div>
            <div class="main-content-l">
                {% catalog_side_menu %}
                <div class="cb-40"></div>
                {% announce_widget %}
                <div class="cb"></div>
            </div>
            <div class="main-content-r tmce">
                {{ flatpage.content|safe }}
                <div class="cb"></div>
            </div>
            <div class="cb"></div>
        </div>
    {% endblock %}
